.home{
  &-main{
    padding: 0;
  }
  &-header{
    padding-top: 10px;
  }
  &-content{
    .recommend-daily{
      // text-align: center; 
    }
    .desc{
      margin: 10px 10px 20px;
      .title{
        margin-bottom: 10px;
      }
    }
  }
}