.card-wrap {
    // margin-right:  20px;
    // margin-bottom: 20px;
    width: 200px;
    margin: 20px;
    position: relative;
    // padding: 10px 20px 20px 10px;
    list-style: none;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    transition: all .3s;
    box-sizing: border-box;
    &-cover{
        // display: block;
        // width: 100%;
    }
    &-cover img,image{
        display: block;
        width: 100%;
        border-radius: 10px;
    }
}

  
