.image-card {
    display: grid;
    // grid-template-rows: repeat(3, 100px);
    grid-template-columns: 30% 30% 30%;
    row-gap: 32px;
    column-gap: 5%;
    box-sizing: border-box;
    &-cover{
        // width: 260px;
        // margin-right: 20px;
        // margin-bottom: 20px;
    }
    &-cover img,image{
        display: block;
        width: 100%;
        border-radius: 10px;
    }
}

  
